.articlesTitle {
  padding: 0;
  font-size: 12px;
  :global {
    .ant-card-body {
      padding: 0;
    }
  }
}

.articlesTag {
  display: flex;
  align-items: center;

  span {
    margin-right: 5px;
    margin-left: 5px;
  }
}
