@import '~antd/es/style/themes/default.less';

.cardList {
  .card {
    :global {
      .ant-card-meta-title {
        margin-bottom: 12px;

        & > a {
          display: inline-block;
          max-width: 100%;
          color: @heading-color;
        }
      }

      .ant-pro-card-body:hover {
        .ant-card-meta-title > a {
          color: @primary-color;
        }
      }
    }
  }

  .item {
    height: 20px;
  }

  :global {
    .ant-list .ant-list-item-content-single {
      max-width: 100%;
    }
  }
}
