@import '~antd/lib/style/themes/default.less';

.homeLayout {
  min-height: 100vh !important;
  .homeLayoutSider {
    flex: 0 0 224px !important;
    width: 224px !important;
    min-width: 224px !important;
    max-width: 224px !important;
  }
}

.header {
  position: relative;
  width: 100%;
  height: 72px;
  background-color: rgba(237, 240, 245) !important;
  border-bottom: 1px solid #d9e3ea;

  .logo {
    color: black;
    font-size: 180px;
  }

  .headerTitle {
    padding: 24px 44px 0;
    background-color: red;
  }
}
